ENVIRONMENT=local
PORT=3006
DATABASE_NAME=adinkra-db
DATABASE_HOST=localhost
DATABASE_USER=postgres
DATABASE_PASSWORD=null
TEST_DATABASE_NAME=test-adinkra-db
FRONT_END_DOMAIN=http://localhost:5000
JWT_SECRET_KEY=tempkey
REFRESH_TOKEN_SECRET_KEY=hsagdfhjagsdhjb
